body {
    margin: 0;
}
.header {
    width: 100%;
    min-height: 500px;
    height: 50%;
    margin: 0 auto;
    position: absolute;
    background-color: lightgray;
}



#register {
    position: absolute;
    top: 85%;
    left: 44.5%;
    text-decoration: none;
    color: black;
    font-family: 'Forum';
    background-color: #F7F7F7;
    border-radius: 50%;
    padding: 10px;
}

#register:hover {
    background-color: #eeeeee;
    font-weight: bold;
}

.header h1 {
    position: absolute;
    top: 10%;
    right: 35%;
    font-family: 'Khula', bold;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}

.header h3 {
    position: absolute;
    top: 28%;
    right: 45%;
    font-family: 'Quicksand', bold;
    font-size: 20px;
    color:  gray;
}

.header #db{
    position: absolute;
    top: 42%;
    left: 40%;
    width: 200px;
    height: 200px;
}

#arrow {
    position: absolute;
    top: 85%;
    left: 45%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#arrow:hover {
    opacity: 0.5;
}

#info {
    position: absolute;
    margin: 20px auto;
    width: 55%;
    top: 100%;
    left: 25%;
    font-family: 'Quicksand', bold;
    font-size: 18px;
}

#info h3 {
    margin-right: 20%;
}

.cont {
    font-family: 'Quicksand', bold;
    font-size: 18px;
    float: left;
    width: 200px;
    margin: 10px 20px;
    height: 250px;
}

.cont img {
    margin: 20px 50px;
}

.userpage, .mainpage {
    position: relative;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

.head {
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: #fefefe;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
}

.mainpage .head {
    background-color: lightgray;
    box-shadow: none;
}

.head a{
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    margin: 15px;
    width: 15%;
    height: 60%;
    opacity:  0.7;
}

.head a:hover{
    opacity: 1;
}
.head h3 {
    position: absolute;
    left: 41%;
    font-family: 'Quicksand', bold;
    font-size: 18px;
    color: #c3175d;
    text-transform: uppercase;
}

.mainpage .head h3 {
    top: 3px;
    left: 4%;
    font-size: 16px;
    color: black;
}
#avatar {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 50%;
}

#avatar .avatar-pic {
    position: relative;
    opacity: 1;
}

#avatar .avatar-pic:hover {
    opacity: 0.7;
}

#avatar .user-name {
    position: relative;
    top: -25%;
    font-weight: bold;
    color: #484849;
    font-family: 'Quicksand', bold;
    font-size: 16px;
    text-decoration: none;
}

#avatar .user-name:hover {
    color: black;
}

.menu {
    position: absolute;
    width: 100px;
    top: 48px;
    left: 0;
    height: 100%;
    list-style: none;
    -webkit-padding-start: 0;
    border-right: solid 1px #e5e5e5;
    border-left: solid 1px #e5e5e5;
}

.menu li {
    display: block;
    width: 100px;
    height: 120px;
    background-color: #fefefe;
    border: solid 1px #e5e5e5;
    border-right: none;
    border-left: none;
    opacity: 0.7;
}
.menu li:hover {
    background-color: #f1f1f1;
    opacity: 0.9;
}
.menu li a #db-pic{
    position: absolute;
    top: 140px;
    left: 20px;
}

.menu li a #temp-pic {
    position: absolute;
    top: 260px;
    left: 20px;
}

.menu li a #sett-pic{
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #484849;
    text-align: center;
}

.menu li a h3 {
    position: relative;
    top: 70px;
    font-family: 'Quicksand', bold;
    font-size: 16px;
}

.content {
    position: absolute;
    top: 230px;
    left: 33%;
    width: 80%;
}
.content h2 {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Quicksand', bold;
}

.content h3 {
    position: absolute;
    top: 80px;
    left: 65px;
    font-family: 'Quicksand', bold;
}

.content h3 a {
    text-transform: uppercase;
    color: #c3175d;
    text-decoration: none;
}

.content h3 a:hover {
    color: black;
    font-weight: bold;
}

.head .clearfix {
    clear: both;
}

#user-menu {
    position: absolute;
    top: 48px;
    right: 2%;
    width: 100px;
    height: 90px;
    list-style: none;
    display: none;
}

#user-menu li {
    height: 30px;
    background-color: #fefefe;
    border: solid 1px #e5e5e5;
    cursor: pointer;
}

#user-menu li:hover {
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 16.5px;
}

#user-menu li a {
    margin: 20px 20px;
    text-decoration: none;
    font-family: 'Quicksand';
    font-size: 16px;
    text-align: center;
    color: #484849;
}

.db-content {
    position: relative;
    top: 150px;
    left: 20%;
    width: 600px;
}

.db-content .table {
    position: absolute;
    width: 98%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    background-color: #fefefe;
    border: solid 1px #e5e5e5;
    list-style: none;
    -webkit-padding-start: 0;
}

.db-content .table li {
    position: relative;
    width: 100%;
    height: 40px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    background-color: #fefefe;
    border: solid 1px #e5e5e5;
}

.db-content #table-top {
    background-color: #006666;
    color: white;
    font-family: 'Quicksand';
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    width: 98.8%;
    box-shadow: 0 0 3px #006666, 0 5px 8px #ccc inset;
    border: none;

}

.db-content #new-db {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #e5e5e5;
    font-family:'Quicksand';
    font-size: 14px;

}

#new-db a {
    text-decoration: none;
}

#new-db a h3{
    position: absolute;
    color: black;
    left: 10px;
    top: -5px;
}

#new-db a h3:hover {
    font-weight: bold;
    color: #c3175d;
}


#delete {
    position: absolute;
    right: 2%;
    top: 10px;
    opacity: 0.6;
    cursor: pointer;
}

#edit {
    position: absolute;
    right: 8%;
    top: 10px;
    opacity: 0.6;
    cursor: pointer;
}
.db-content #add {
    position: absolute;
    left: 15px;
    top: 10px;
    opacity: 0.6;
    height: 40px;
}

#add:hover, #edit:hover, #delete:hover {
    opacity: 0.8;
}


label.error {
    color: red;
}
input.error {
    background: #fff url(img/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.footer {
    min-height: 800px;
    width: 100%;
}

*:focus {outline: none;}

.signup-form {
    position: absolute;
    top: 80px;
    left: 20%;
}

.signup-form label, .signup-form h2{
    font-family: 'Forum';
    font-size: 18px;
    font-weight: bold;
}

.signup-form h2 {
    font-size: 22px;
}

.form_hint, .required_notification {font-size: 12px;}

.signup-form ul {
    width:750px;
    list-style: none outside;
    margin:0;
    padding:0;
}
.signup-form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}
.signup-form li:first-child, .signup-form li:last-child {
    border-bottom:1px solid #777;
}

.signup-form h2 {
    margin:0;
    display: inline;
}
.required_notification {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    float:right;
}

.signup-form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:right;
    padding:3px;
}

#parameters {
    float: left;
}
select {
    width: 260px;
    height: 30px;
    padding: 5px 8px;
}

.signup-form button {margin-left:156px;}

.signup-form input, .signup-form select, .signup-form textarea {
    border:1px solid #aaa;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
    margin: 10px 0 10px 15px;
    height: 30px;
    width: 260px;
    padding: 5px 8px;
}

.signup-form textarea {height: 120px;}

.signup-form h3 {
    font-family: 'Forum';
}
input:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:70px;
}

input:required {
    background: #fff url(img/red_asterisk.png) no-repeat 98% center;
}
input:valid {
    background: #fff url(img/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
input:focus:invalid{
    background: #fff url(img/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

input.error {
    background: #fff url(img/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}
.form_hint::before {
    content: "\25C0";
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}
.signup-form input:focus + .form_hint {display: inline;}
.signup-form input:required:valid + .form_hint {background: #28921f;}
.signup-form input:required:valid + .form_hint::before {color:#28921f;}

button.submit, #test {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover, input#test.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active, input#test.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}

input#test.submit {
    width: 94px;
    cursor: pointer;
}

table {
    border:1px solid #aaa;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    margin: 50px 20px;
    width: 99%;
    font-family: 'Forum';
    font-size: 16px;
    font-weight: bold;
}


th {
    color: #006666;
    font-size: 18px;
    text-align: center;
    width: 33%;
}

td {
    text-align:center;
    width: 33%;
}

#paramType, #paramName {
    width: 150px;
}

#reportParamsList th, #reportParamsList td {
    width: 25%;
}

#reportsTable {
    width: 800px;
    position: absolute;
}

#reportsTable th, td {
    padding: 10px;
    width: 23%;
}

#reportsTable th {
    color: #006666;
}

#createReport {
    position: absolute;
    left: 30px;
    top: -50px;
    font-family: 'Forum';
    text-decoration: none;
    color: black;
}

#createReport:hover {
    color: #c3175d;
}


.connectionInfo {
    position: absolute;
    top: 80px;
    left: 20%;
    font-family:'Quicksand';
    font-size: 15px;
}

.connectionInfo h2 {
    color: #006666;
    font-size: 22px;
    text-align: center;
}

.connectionInfo h3 {
    font-family: 'Forum';
}

#error-message {
    color: darkred;
    font-family: 'Forum';
    position: relative;
    left: 22%;
    top: -3px;
}

#error-pic {
    position: absolute;
    left: 20%;
    top: 30px;
}

button#add_conn:disabled, button#add_template_button:disabled {
   opacity: 0.7;
    cursor: default;
}



.error_page {
    position: relative;
}
.error_button {
    position: absolute;
    left: 40%;
    top: 480px;
}

.error_page img {
    position: absolute;
    left: 30%;
    top: 90px;
    width: 400px;
    height: 350px;
}

.error_button:hover {
    color: #c3175d;
}

.error_page h1 {
    position: absolute;
    top: 20px;
    left: 35%;
    font-family: 'Forum';
    color: #c3175d;
}
